This notebook will contain pandas examples.

In [1]:
# Lets create a series

import pandas as pd

In [4]:
s = pd.Series([3,6,4,2,8])
s

0    3
1    6
2    4
3    2
4    8
dtype: int64

In [5]:
s.head()

0    3
1    6
2    4
3    2
4    8
dtype: int64

In [9]:
ufo = pd.read_table('http://bit.ly/uforeports', sep=',')

In [10]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [14]:
ufo.shape

(18241, 5)

In [15]:
ufo.columns

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time'], dtype='object')

In [16]:
ufo['Location'] = ufo.City + ', ' + ufo.State

In [20]:
ufo.head()

,City,Colors Reported,Shape Reported,State,Time,Location
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00,"Ithaca, NY"
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00,"Willingboro, NJ"
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00,"Holyoke, CO"
3,Abilene,NaN,DISK,KS,6/1/1931 13:00,"Abilene, KS"
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00,"New York Worlds Fair, NY"

In [21]:
ufo.dtypes

City               object
Colors Reported    object
Shape Reported     object
State              object
Time               object
Location           object
dtype: object

In [22]:
ufo.drop('Colors Reported', axis=1, inplace=True)
ufo.head()

,City,Shape Reported,State,Time,Location
0,Ithaca,TRIANGLE,NY,6/1/1930 22:00,"Ithaca, NY"
1,Willingboro,OTHER,NJ,6/30/1930 20:00,"Willingboro, NJ"
2,Holyoke,OVAL,CO,2/15/1931 14:00,"Holyoke, CO"
3,Abilene,DISK,KS,6/1/1931 13:00,"Abilene, KS"
4,New York Worlds Fair,LIGHT,NY,4/18/1933 19:00,"New York Worlds Fair, NY"

In [24]:
ufo.State.sort_values(ascending=False).head(25)

12079    WY
11490    WY
11333    WY
4866     WY
3326     WY
3328     WY
16594    WY
1177     WY
378      WY
5065     WY
7684     WY
6116     WY
10729    WY
12072    WY
16637    WY
14618    WY
7491     WY
12063    WY
14240    WY
14586    WY
15667    WY
7485     WY
14747    WY
1461     WY
1442     WY
Name: State, dtype: object

In [26]:
ufo.sort_values(['City','State']).head()

            City Shape Reported State              Time       Location
1761   Abbeville           DISK    SC   12/10/1968 0:30  Abbeville, SC
2297    Aberdeen       TRIANGLE    MD    8/18/1972 1:30   Aberdeen, MD
9404    Aberdeen           DISK    MD   6/15/1996 13:30   Aberdeen, MD
16167   Aberdeen        VARIOUS    OH    3/29/2000 3:00   Aberdeen, OH
389     Aberdeen         CIRCLE    SD  11/15/1956 18:30   Aberdeen, SD